* {
    font-size: 10px;
    margin: 0;
}

body {
    background-color: beige;
}

.container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-container {
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

.generate-btn {
    border: none;
    background-color: rgb(7, 129, 88);
    color: #fff;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.generate-btn:hover {
    background-color: rgb(4, 88, 60);
}